<% include partials/header.ejs %>
<div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>
<main class="container">

    <h1>We're Sorry. We cannot process your request at this moment</h1>

    <section class="jumbotron">
        Your request could not be completed. Please try again Later.
    </section>

</main>

<% include partials/footer.ejs %>