<% include ./partials/header.ejs %>
<div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>
<main class="container">
  <section class="jumbotron">
      <h1>Cricket Players</h1>
    <p><small>This application built helps to add the various players of a cricket team and let the user to
              update its various functionality like the team he plays for, name of the player, batting stance of the
              player and also the player number for each player.</small></p>
    <p><small>This application helps to add different team players at one place and only a particular user can have
              access to these options available if he is logged in and also helps the administrator know which user is
        logged in.</small></p>
  </section>

</main>

<% include ./partials/footer.ejs %>
